<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-trackuserlocation"
    version="0.3.11">
    <name>TrackUserLocation</name>
    <description>The TrackMyLocation Plugin has been used for track a user location and writting the file.It will Automatically start when the device is restarted.</description>
    <license>Apache 2.0</license>
    <keywords>cordova,location,bootcomplete,restartapp</keywords>
    <repo></repo>
    <issue></issue>
	<js-module src="www/LocationPlugin.js" name="LocationPlugin">
        <clobbers target="LocationPlugin" />
    </js-module>
    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="LocationPlugin" >
                <param name="android-package" value="LocationPlugin"/>
            </feature>
        </config-file>
		<source-file src="src/android/LocationPlugin.java" target-dir="src/" />
		<source-file src="src/android/BootComplete.java" target-dir="src/" />
		<source-file src="src/android/TrackUserLocationService.java" target-dir="src/" />
    </platform>
	<config-file target="AndroidManifest.xml" parent="/*">
		<uses-permission android:name="android.permission.INTERNET" />
		<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
		<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
		<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
		<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
		<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
		<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
		<uses-permission android:name="android.permission.READ_PHONE_STATE" />
    		<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
   		<service android:name=".TrackUserLocationService"/>

        <receiver android:name=".BootComplete">  
            <intent-filter>     
                <action android:name="android.intent.action.BOOT_COMPLETED"/> 
            </intent-filter>  
        </receiver>

    </config-file>

</plugin>
